*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
    --gray-1: #3a3a3a;
    --gray-2: #C0CCDA;
    --gray-900: #18191f;
    --gray-80: #5e6366;
    --gray-50: #787885;
    --blue-1: #0A0826;
    --blue-2: rgba(10, 8, 38, 0.75);
    --white: #ffffff;
    --black-1: #000000;
    --black-2: rgba(0, 0, 0, 0.87);
    --red-1: #E02C6D;
    --orange-60: #FB8200;
    --orange-1: #e57b1b;
}
body {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.font-poppins {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}