@media (min-width: 481px) and (max-width: 768px) {
  /* navigation style start */
  nav {
    width: 25%;
  }
  /* navigation style end */
  .newsletter form {
    max-width: 75%;
    margin: 2rem auto;
  }
  .newsletter form input[type="email"] {
    padding: 0 2rem;
    font-size: 1rem;
    width: 85%;
  }

  .diff-content {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* navigation style start */
  .nav-toggle-label {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: (2, 1fr);
  }
  .logo {
    grid-column: 1 / 2;
  }
  .logo h2 a {
    font-size: 13px;
    line-height: 24px;
    display: flex;
    justify-content: center;
  }
  nav {
    all: unset;
    width: 100%;
    height: auto;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
  }
  nav ul {
    display: flex;
    justify-content: center;
  }
  nav li a {
    color: var(--gray-1);
    opacity: 1;
    font-size: 12px;
  }
  .nav-cart {
    grid-column: 4 / 5;
    justify-content: flex-start;
    margin-right: 0;
    margin-left: 1em;
    position: relative;
    align-items: center;
  }
  /* navigation style end */
  /* hero style start */
  .hero {
    flex-direction: row;
  }
  .hero .content h1,
  .hero .content p {
    text-align: left;
  }
  .hero .content p {
    font-size: 16px;
    line-height: 24px;
  }
  .hero .content h1 {
    font-size: 52px;
    line-height: 70px;
  }
  /* hero style end */
  /* trusted bar style start  */
  .trusted-bar {
    padding: 36px 0;
    border-top: 1px solid var(--gray-2);
    border-bottom: 1px solid var(--gray-2);
  }
  /* trusted bar style end  */

  .newsletter {
    margin: 100px 0;
    padding: 5rem 1rem;
  }
  .newsletter h3 {
    font-size: 2rem;
    text-transform: uppercase;
  }
  .newsletter p {
    color: --black-2;
    font-size: 1.2rem;
    margin: 2rem auto;
  }
  .newsletter form {
    max-width: 75%;
    margin: 2rem auto;
  }
  .newsletter form input[type="email"] {
    padding: 0 2rem;
    font-size: 1.7rem;
    width: 85%;
  }
  .newsletter form input[type="submit"] {
    font-size: 1.7rem;
  }
  .diff-content {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  .diff-container h2 {
    font-size: 38px;
    line-height: 60px;
  }
  .footer-logo h2 a {
    font-size: 24px;
    line-height: 36px;
  }
  .copyright p {
    font-size: 14px;
  }
  .social-links li a i {
    width: 50px;
    height: 50px;
    font-size: 32px;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  /* navigation style start */
  .nav-toggle-label {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: (2, 1fr);
  }
  .logo {
    grid-column: 1 / 2;
  }
  .logo h2 a {
    font-size: 20px;
    line-height: 36px;
  }
  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
  }
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav li a {
    color: var(--gray-1);
    opacity: 1;
    font-size: 16px;
    line-height: 24px;
  }
  .nav-cart {
    grid-column: 4 / 5;
    justify-content: flex-start;
    margin-right: 0;
    margin-left: 1em;
    position: relative;
    align-items: center;
  }
  /* navigation style end */

  /* hero style start */
  .hero {
    flex-direction: row;
  }
  .hero .content h1,
  .hero .content p {
    text-align: left;
  }
  .hero .content p {
    font-size: 16px;
    line-height: 24px;
  }
  .hero .content h1 {
    font-size: 52px;
    line-height: 70px;
  }
  /* hero style end */
  /* trusted bar style start  */
  .trusted-bar {
    padding: 36px 0;
    margin: 100px 0;
    border-top: 2px solid var(--gray-2);
    border-bottom: 2px solid var(--gray-2);
  }
  /* trusted bar style end  */

  .newsletter {
    margin: 100px 0;
    padding: 5rem 1rem;
  }
  .newsletter h3 {
    font-size: 3rem;
    text-transform: uppercase;
  }
  .newsletter p {
    color: --black-2;
    font-size: 1.6rem;
    margin: 2rem auto;
  }
  .newsletter form {
    max-width: 75%;
    margin: 2rem auto;
  }
  .newsletter form input[type="email"] {
    padding: 0 2rem;
    font-size: 1.7rem;
    width: 85%;
  }
  .newsletter form input[type="submit"] {
    font-size: 1.7rem;
  }
  .diff-content {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
  .diff-container h2 {
    font-size: 38px;
    line-height: 60px;
  }
  .footer-logo h2 a {
    font-size: 24px;
    line-height: 36px;
  }
  .copyright p {
    font-size: 14px;
  }
  .social-links li a i {
    width: 50px;
    height: 50px;
    font-size: 32px;
  }
}

@media (min-width: 1201px) {
  /* navigation style start */
  .nav-toggle-label {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: (2, 1fr);
  }
  .logo {
    grid-column: 1 / 2;
  }
  .logo h2 a {
    font-size: 24px;
    line-height: 36px;
  }
  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
  }
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav li a {
    color: var(--gray-1);
    opacity: 1;
    font-size: 16px;
    line-height: 24px;
  }
  .nav-cart {
    grid-column: 4 / 5;
    justify-content: flex-start;
    margin-right: 0;
    margin-left: 1em;
    position: relative;
    align-items: center;
  }
  /* navigation style end */

  /* hero style start */
  .hero {
    flex-direction: row;
  }
  .hero .content h1,
  .hero .content p {
    text-align: left;
  }
  .hero .content p {
    font-size: 16px;
    line-height: 24px;
  }
  .hero .content h1 {
    font-size: 52px;
    line-height: 70px;
  }
  /* hero style end */

  /* trusted bar style start  */
  .trusted-bar {
    padding: 36px 0;
    margin: 100px 0;
    border-top: 2px solid var(--gray-2);
    border-bottom: 2px solid var(--gray-2);
  }
  /* trusted bar style end  */

  .newsletter {
    margin: 100px 0;
    padding: 5rem 1rem;
  }
  .newsletter h3 {
    font-size: 3rem;
    text-transform: uppercase;
  }
  .newsletter p {
    color: --black-2;
    font-size: 1.6rem;
    margin: 2rem auto;
  }
  .newsletter form {
    max-width: 75%;
    margin: 2rem auto;
  }
  .newsletter form input[type="email"] {
    padding: 0 2rem;
    font-size: 1.7rem;
    width: 85%;
  }
  .newsletter form input[type="submit"] {
    font-size: 1.7rem;
  }
  .diff-content {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
  }
  .diff-container h2 {
    font-size: 38px;
    line-height: 60px;
  }
  .footer-logo h2 a {
    font-size: 24px;
    line-height: 36px;
  }
  .copyright p {
    font-size: 14px;
  }
  .social-links li a i {
    width: 50px;
    height: 50px;
    font-size: 32px;
  }
}
